@import './Fonts.scss';


body {
  background-color: white;
  font-family: Atlas-Grotesk;
}

// modal transition
@keyframes openModal {
  from {
    position: absolute;
    right: -90%;
    opacity: 0;
  }
  to {
    position: absolute;
    opacity: 1;
    right: 0%;
  }
}


::-webkit-scrollbar {
  width: 0;
  background: transparent;
  position: absolute;
  z-index: -99;
}

@media (min-width:320px)  { 
  /* smartphones, iPhone, portrait 480x320 phones */ 

  .open-artist-statement {
    position: relative;
    visibility: visible;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 100;
    background-color: white;
    animation: openModal 1s ease;
    line-height: 1.7;
    font-size: 10pt;
    .a-s-h {
      display: flex;
      // flex-direction: row;
      // border: 2px solid red;
      button {
        cursor: pointer;
        margin-left: auto;
        border: none;
        
      }
  
      .back-word {
        font-size: 14pt;
        position: relative;
        top: -30px;
      }
      button:hover {
        color: gray;
      }
    }
    .a-s-c {
      display:flex;
      flex-direction: row;
    }
    .lang {
      cursor: pointer;
    }
    .lang:hover{
      color :gray;
    }
  }
  
  .close-artist-statement {
    transform: translate(120vw);
    visibility: hidden;
    transition: visibility 7s step-end,transform 7s ease-out, -webkit-transform 7s ease;
  }
  
  #btn-icon {
    font-size: 40px;
    background-color: white;
    // transform: rotate(90deg);
  }
  
  .parent-container {
    // border: 10px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  
  .flex-container {
    // border: 10px solid purple;
    justify-content: center;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #C2E5F2;
    .a-s-c {
      display:flex;
      flex-direction: row;
    }
    .more-info {
      // background-color: gray;
      margin-top: 2em;
      border-top: 1px solid black;
    }
  }

}
@media (min-width:481px)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 

}
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
  
.open-artist-statement {
  position: relative;
  visibility: visible;
  // width: 100% !important;
  // height: 100% !important;
  width: 100VW;
  height: 100VH;
  position: absolute;
  z-index: 100;
  background-color: white;
  animation: openModal 1s ease;
  line-height: 1.7;
  font-size: 14pt;
  .a-s-h {
    display: flex;
    // flex-direction: row;
    // border: 2px solid red;
    button {
      cursor: pointer;
      margin-left: auto;
      border: none;
      
    }

    .back-word {
      font-size: 14pt;
      position: relative;
      top: -30px;
    }
    button:hover {
      color: gray;
    }
  }
  .a-s-c {
    display:flex;
    flex-direction: row;
  }
  .lang {
    cursor: pointer;
  }
  .lang:hover{
    color :gray;
  }
}

.close-artist-statement {
  transform: translate(120vw);
  visibility: hidden;
  transition: visibility 7s step-end,transform 7s ease-out, -webkit-transform 7s ease;
}

#btn-icon {
  font-size: 40px;
}

.parent-container {
  // border: 10px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
}

.flex-container {
  // border: 10px solid purple;
  justify-content: center;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #C2E5F2;
}
  
}
@media (min-width:1281px) { 
  /* hi-res laptops and desktops */ 

}

