@font-face {
  font-family: Continua;
  src: url(../asssets/fonts/Continua-Regular.otf) ;
}

@font-face {
  font-family: Cigars;
  src: url(../asssets/fonts/cigars-light-webfont.otf);
}

@font-face {
  font-family: Tiempos;
  src: url(../asssets/fonts/tiempos.otf);
}


@font-face {
  font-family: Atlas-Grotesk-Bold;
  src: url(../asssets/fonts/atlastypewriter-bold-reduced-webfont.ttf);
}

@font-face {
  font-family: Atlas-Grotesk;
  src: url(../asssets/fonts/atlasgrotesk-regular.ttf);
}