@import './Fonts.scss';

@keyframes animateToRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
 }

 @-moz-keyframes animateToRight {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes animateToRight {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
 }

 @-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fade-in{
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}


//  animation for estamos bien la trienal 20/21 
@keyframes animateText {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


// animation for artist statement

@keyframes slideup {
  0%{bottom:-50px}
  100%{bottom:0;}
}


@media (min-width:320px)  { 
  /* smartphones, iPhone, portrait 480x320 phones */ 

  h1 {
    font-family: Whyte-Inktrap-Medium;
    text-transform: lowercase;
    line-height: 1em;
    // font-size: 4em;
    // margin-top: -0.5em;
  }
  .flex-container > button {
    color: black;
    background-color: #FFFFFF;
    border: none;
  }
  
  *:focus {
    outline: 0 !important;
  }
  
  .flex-container > p {
    line-height: 2.8em;
  }
  .parent-container {
    display: flex;
    justify-content: center;
    background-color: white;
  }
  .flex-container {
    background-color: white;
    color: black;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 80%;
    // border: 2px solid red;
    padding: 2em;
    flex:1;
    .f-item{
    }
  }
  .commission-container {
    // margin-top: -3em;
    padding: 1em;
    font-family: Avenir-Reg;
    font-size:10pt;
    .span-1 {
      font-weight: bold;
      font-family: Avenir-Bold;
    }
    .commision-desc {
      font-family: Whyte-Inktrap-Medium;
    }
  }
  .title-container {
    margin-top: 5%;
    // flex:2;
    flex-shrink: 4;
    font-size:4.3vw;
    letter-spacing: .5px;
    color: black;
  }
  .artist-container {
    margin-top: 1%;
    flex-shrink:3;
    .artist-desc {
      display: inline-block;
      border: 1px solid black;
      padding: 1em;
      font-size: 10pt;
    }
  }
  .navigation-container {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    // border: 2px solid green;
    .read-more {
      display: block;
      margin-right: 2em;
    }
    button {
    padding: 10px 20px;
    background: none;
    border: none;
    position: relative;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 8pt;
    letter-spacing: 3px;
    width: 90px; 
    cursor: pointer;
    &:after, &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 2px solid #000;
      transition: transform .2s ;
    }
    &:after {
      transform: translate(3px, 3px);	
    }
    &:before {
      transform: translate(-3px, -3px);
    }
    &:hover {
      &:after, &:before {
        transform: translate(0);
      }
    }
    }
  }
  .artist-img-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2em;
    margin-right: 1em;

    .artist-img {
      pointer-events: none;
      width: 220px;
    }
  }
  p {
    font-family: Univers-Next-Regular;
  }
  .read-more-container-open {
    // background:red;
    margin-top: 1em;
    // border: 2px solid red;
    position:relative;
    bottom:-1200px;
    height:auto;
    width:90%;
    left:0;
    animation-name:slideup;
    animation-delay:0.2s;
    animation-duration:0.7s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;

    line-height: 1.7;
    font-size: 12pt;
    .lang {
      cursor: pointer;
    }
    .lang:hover{
      color :gray;
    }
  }
  .read-more-container-closed {
    display:none;
  }

}
@media (min-width:481px)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 

}
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
  
  h1 {
    font-family: Whyte-Inktrap-Medium;
    text-transform: lowercase;
    // font-size: 4em;
    // margin-top: -0.5em;
  }

  .flex-container > button {
    color: black;
    background-color: #FFFFFF;
    border: none;
  }

  *:focus {
    outline: 0 !important;
  }

  svg:hover {
    fill: gray;
  }

  .flex-container > p {
    line-height: 1.8em;
  }

  .parent-container {
    display: flex;
    justify-content: center;
    background-color: white;
    // border: 2px solid red;
  }

  .flex-container {
    background-color: white;
    color: black;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 80%;
    // border: 2px solid red;
    padding: 2em;
    flex:1;
    .f-item{
      // border: 2px solid red;
    }
    .commission-container {
      // margin-top: -3em;
      padding: 1em;
      font-family: Avenir-Reg;
      font-size:12pt;
      text-transform: lowercase;
      .span-1 {
        font-weight: bold;
        font-family: Avenir-Bold;
      }
      .commision-desc {
        font-family: Whyte-Inktrap-Medium;
      }
    }
    .title-container {
      margin-top: 5%;
      flex-shrink: 4;
      font-size:2.3vw;
      letter-spacing: .5px;
      color: black;
    }
    .artist-container {
      margin-top: 1%;
      flex-shrink:2;
      .artist-desc {
        display: inline-block;
        border: 1px solid black;
        padding: 1em;
        font-size: 1.4em;
      }
    }
    .navigation-container {
      display: flex;
      flex-direction: row;
      align-items: stretch; 
      .read-more {
        display: block;
        margin-right: 2em;
      }
      button {

      width: 190px;
      padding: 10px 20px;
      background: none;
      border: none;
      position: relative;
      text-transform: lowercase;
      font-weight: bold;
      font-size: 15pt;
      letter-spacing: 3px;
      cursor: pointer;
      &:after, &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 2px solid #000;
        transition: transform .2s ;
      }
      &:after {
        transform: translate(3px, 3px);	
      }
      &:before {
        transform: translate(-3px, -3px);
      }
      &:hover {
        &:after, &:before {
          transform: translate(0);
        }
      }
      }
    }
    .artist-img-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: -10em;
      margin-right: 13em;

      .artist-img{
        pointer-events: none;
        width:35%;
      }
    }
    p {
      font-family: Univers-Next-Regular;
    }
    .read-more-container-open {
      // background:red;
      margin-top: 2em;
      // border: 2px solid red;
      position:relative;
      bottom:-1200px;
      height:auto;
      width:90%;
      left:0;
      animation-name:slideup;
      animation-delay:0.2s;
      animation-duration:0.7s;
      animation-fill-mode:forwards;
      animation-timing-function:ease-out;

      line-height: 1.7;
      font-size: 14pt;
      .lang {
        cursor: pointer;
      }
      .lang:hover{
        color :gray;
      }

    }
    .read-more-container-closed {
      display:none;
      }
    }
}

@media (min-width:1281px) { 
  /* hi-res laptops and desktops */ 

}

body {
  // font-family: Atlas-Grotesk;
  // overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; 

}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
  position: absolute;
  z-index: -99;
}
