body {
  background-color: white;
}

.gallery-header {
  width: 100% !important;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  margin: 1.5em 1em 4em ;
  justify-content: space-between;

  .artist-statement-header {
    margin-right: 2em;
    background-color: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 2em;
    cursor: default;
  }
  .artist-statement-header:hover {
    border: none;
    cursor: default;
    visibility: visible;
    color: #C2E5F2;
  }
}



