
body {
  background-color: white;
  font-family: Atlas-Grotesk;
}


.photo-container {
  position: relative;
  visibility: visible;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 100;
}