/* @import "~bootstrap/scss/bootstrap"; */

.display-artist-statement {
  border: 10px solid black;
  padding: 2em;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 100;
  color: red;
}

.display-artist-statement  > h1 {
  color: purple;
}

