/* @import "~bootstrap/scss/bootstrap"; */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}


.display-artist-statement {
  border: 10px solid black;
  padding: 2em;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 100;
  color: red;
}

.display-artist-statement  > h1 {
  color: purple;
}

